<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>BGG News Scraper</title>
        <!-- Scripts / Links -->
    </head>
    <body>
        <p>test from main.handlebars</p>
        {{{ body }}}
    </body>
</html>